<mat-drawer-container class="container">

    <mat-drawer #drawer mode="side" opened>
        <mat-toolbar>
            <span>Menu</span>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item routerLink="/cidades/list">Controle de Cidade</mat-list-item>
            <mat-list-item routerLink="/cupons/list">Controle de Cupom</mat-list-item>
            <mat-list-item routerLink="/descricoes/list">Controle de Descrições</mat-list-item>
            <mat-list-item routerLink="/estados/list">Controle de Estado</mat-list-item>
            <mat-list-item routerLink="/fabricantes/list">Controle de Fabricante</mat-list-item>
            <mat-list-item routerLink="/fornecedores/list">Controle de Fornecedor</mat-list-item>
            <mat-list-item routerLink="/marcas/list">Controle de Marca</mat-list-item>
            <mat-list-item routerLink="/hardwares/list">Controle de Produto</mat-list-item>
            <mat-list-item routerLink="/usuarios/list">Controle de Usuário</mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>