.header {
    background-color: #4361EE;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.logo {
    font-size: 30px;
    color: #fff;
}