@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input-field {
  margin-right: 5px;
}

.input-field>input {
  width: 500px;
  border-radius: 10px;
  padding: 12px;
  border: 2px solid #ddd;
  outline: none;
}

.input-field>input:focus {
  border: 2px solid #4361EE;
  outline: 2px solid #B5C1F8;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.search-button {
  background-color: #4361EE;
  margin-right: 5px;
}

.container {
  width: 80%;
  margin: auto;
}

.responsive-grid {
  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(256px, 0fr));
}

.card-container {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 256px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 10px;
  position: relative;
  user-select: none;
  transition: .2s;
}

.details {
  position: absolute;
  display: flex;
  gap: 5px;
  top: 10px;
  left: 10px;
}

.category,
.status {
  background-color: rgba(128, 128, 128, 0.5);
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 100px;
  width: fit-content;
}

.card-container>img {
  width: 256px;
  height: auto;
  cursor: pointer;
}

.description,
.price,
.category {
  display: block;
}

.description {
  margin: 10px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  color: #4361EE;
  margin: 0 10px 20px 10px;
  font-size: 25px;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.button {
  font-family: inherit;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  margin: 0 10px 0 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.view-details {
  background-color: transparent;
  color: #4361EE;
  border: 1px solid #4361EE;
}

.view-details:hover {
  background-color: #4361EE;
  color: #fff;
}

.add-to-cart {
  background-color: #4361EE;
}

.add-favorite {
  position: absolute;
  top: 0;
  right: 0;
}