strong {
  font-weight: 500;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.container {
  width: 80%;
  margin: auto;
}

.title {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 10px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}

input[type="radio"] {
  margin-right: 10px;
}

label span {
  display: block;
}

.button {
  width: 100%;
  background-color: #25A244;
  color: #fff;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px 50px;
  text-transform: uppercase;
}

.button:last-child {
  background-color: transparent;
  border: 1px solid #25A244;
  color: #25A244;
  margin-top: 10px;
}