<mat-toolbar>
  <div class="flex-container">
    <span class="toolbar-title"> Controle de Produtos </span>
    <button mat-fab color="accent" routerLink="/hardwares/new">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-toolbar>

<table mat-table [dataSource]="hardwares" class="mat-elevation-z8">
  <!-- Id Column -->
  <ng-container matColumnDef="id-column">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let hardware"> {{hardware.id}} </td>
  </ng-container>

  <!-- Nome Column -->
  <ng-container matColumnDef="nome-column">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let hardware">
      <a routerLink="/hardwares/edit/{{hardware.id}}"> {{hardware.nome}} </a>
    </td>
  </ng-container>

  <!-- Preço Column -->
  <ng-container matColumnDef="preco-column">
    <th mat-header-cell *matHeaderCellDef> Preço </th>
    <td mat-cell *matCellDef="let hardware"> {{hardware.preco}} </td>
  </ng-container>

  <!-- Estoque Column -->
  <ng-container matColumnDef="estoque-column">
    <th mat-header-cell *matHeaderCellDef> Estoque </th>
    <td mat-cell *matCellDef="let hardware"> {{hardware.estoque}} </td>
  </ng-container>

  <!-- Modelo Column -->
  <ng-container matColumnDef="modelo-column">
    <th mat-header-cell *matHeaderCellDef> Modelo </th>
    <td mat-cell *matCellDef="let hardware"> {{hardware.modelo}} </td>
  </ng-container>

  <!-- Lançamento Column -->
  <ng-container matColumnDef="lancamento-column">
    <th mat-header-cell *matHeaderCellDef> Data de Lançamento </th>
    <td mat-cell *matCellDef="let hardware"> {{hardware.lancamento}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
</table>