<div class="login-container">
    <div class="login-box">
        <h1 class="logo">GLWare</h1>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">  
            <mat-form-field class="login-input" appearance="outline">
                <mat-label>Login</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="formGroup.get('email')!.hasError('required')">O email é obrigatório</mat-error>
            </mat-form-field>
            <mat-form-field class="login-input" appearance="outline">
                <mat-label>Senha</mat-label>
                <input matInput type="password" formControlName="senha" required>
                <mat-error *ngIf="formGroup.get('senha')!.hasError('required')">A senha é obrigatória</mat-error>
            </mat-form-field>
            <button class="button login-button" type="submit">Login</button>
        </form>
        <span>ou</span>
        <button class="button register-button" routerLink="/cadastro">Cadastre-se</button>
    </div>
</div>