@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point&display=swap');

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: hsl(218deg 50% 91%);
}

.login-box {
    background: #f1f7fe;
    color: #5e5e5e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 2em #e6e9f9;
    text-align: center;
}

.login-box > .logo {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 64px;
    color: #4361EE;
}

.login-icon {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    display: block;
}

.login-title {
    font-size: 24px;
    color: #333;
}

.login-input {
    width: 100%;
}

.button {
    width: 100%;
    margin-top: 10px;
    padding: 1em;
    border: none;
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}

.login-button {
    background-color: #4361EE;
    margin-bottom: 5px;
}

.register-button {
    margin-top: 5px;
    background-color: #169873;
}