.container {
  max-width: 1280px;
  margin: auto;
}

img {
  max-width: 640px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.product-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.product-model {
  font-size: 25px;
}

.product-stock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-model,
.product-brand {
  margin-bottom: 10px;
}

.product-stock {
  margin-bottom: 40px;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-primary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  background-color: #25A244;
  border: none;
  padding: 20px 40px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.price {
  color: #25A244;
  font-weight: 500;
  font-size: 30px;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title > .material-symbols-outlined {
  font-size: 30px;
}

.product-info {
  width: 100%;
}

.description {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
}