<div class="container">
  <div class="product-container">
    <img class="img-fluid" [src]="imageUrl">
    <div class="product-info">
      <div class="product-model">{{produto?.modelo}}</div>
      <div class="product-brand">Marca: {{produto?.marca?.nome}}</div>
      <div class="product-stock">
        <span class="title">Disponível</span>
        <span>Estoque: {{produto?.estoque}}</span>
      </div>
      <div class="product-price">
        <span class="price">{{produto?.preco | currency: 'BRL'}}</span>
        <div class="product-action">
          <button class="btn btn-primary">
            <span class="material-symbols-outlined">add_shopping_cart</span>
            Comprar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>