<mat-toolbar>
  <div class="flex-container">
    <span class="toolbar-title"> Controle de Usuarios </span>
    <button mat-fab color="accent" routerLink="/usuarios/new">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-toolbar>

<table mat-table [dataSource]="usuarios" class="mat-elevation-z8 demo-table">

  <!-- ID Column-->
  <ng-container matColumnDef="id-column">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let usuario"> {{usuario.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nome-column">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let usuario">
      <a routerLink="/usuarios/edit/{{usuario.id}}">{{usuario.nome}}</a>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="login-column">
    <th mat-header-cell *matHeaderCellDef>Login</th>
    <td mat-cell *matCellDef="let usuario">
      <a>{{usuario.login}}</a>
    </td>
  </ng-container>

  <!-- CPF Column -->
  <ng-container matColumnDef="cpf-column">
    <th mat-header-cell *matHeaderCellDef>CPF</th>
    <td mat-cell *matCellDef="let usuario">
      <a>{{usuario.cpf}}</a>
    </td>
  </ng-container>

  <!-- Telefones Column -->
  <ng-container matColumnDef="telefone-column">
    <th mat-header-cell *matHeaderCellDef>Telefone(s)</th>
    <td mat-cell *matCellDef="let usuario">
      <span *ngFor="let telefone of usuario.telefones">
        ({{ telefone.ddd }}) {{ telefone.numero }}<br>
      </span>
    </td>
  </ng-container>

  <!-- Enderecos Column -->
  <ng-container matColumnDef="endereco-column">
    <th mat-header-cell *matHeaderCellDef>Endereço(s)</th>
    <td mat-cell *matCellDef="let usuario">
      <span *ngFor="let endereco of usuario.enderecos">
        <!-- <strong>Logradouro:</strong>
        {{ endereco.logradouro }}
        <br>
        <strong>Número</strong>
        {{ endereco.numero }}
        <br>
        <strong>Complemento:</strong>
        {{ endereco.complemento }}
        <br>
        <strong>Bairro:</strong>
        {{ endereco.bairro }}
        <br>
        <strong>CEP:</strong> -->
        {{ endereco.cep }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions-column">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
</table>