.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.form-container {
  max-width: 640px;
  margin: auto;
}

.flex-container {
  display: flex;
  gap: 22px;
}

.flex-container,
mat-form-field {
  width: 100%;
}

.mat-success {
  background-color: green;
  color: #fff;
}