<form [formGroup]="formGroup" class="form-container" (ngSubmit)="null">
  <strong class="title">
    <span class="material-symbols-outlined">location_on</span>
    <span>Meus Dados</span>
  </strong>
  <div class="flex-container">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput type="text" formControlName="nome" />
      <mat-error *ngIf="formGroup.get('nome')?.getError('apiError')">
        {{formGroup.get('nome')?.getError('apiError')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Sobrenome</mat-label>
      <input matInput type="text" formControlName="sobrenome" />
      <mat-error *ngIf="formGroup.get('sobrenome')?.getError('apiError')">
        {{formGroup.get('sobrenome')?.getError('apiError')}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="flex-container">
    <mat-form-field appearance="outline">
      <mat-label>CPF</mat-label>
      <input matInput type="text" formControlName="cpf" />
      <mat-error *ngIf="formGroup.get('cpf')?.getError('apiError')">
        {{formGroup.get('cpf')?.getError('apiError')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>RG</mat-label>
      <input matInput type="text" formControlName="rg" />
      <mat-error *ngIf="formGroup.get('rg')?.getError('apiError')">
        {{formGroup.get('rg')?.getError('apiError')}}
      </mat-error>
    </mat-form-field>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Login</mat-label>
    <input matInput type="text" formControlName="login" />
    <mat-error *ngIf="formGroup.get('login')?.getError('apiError')">
      {{formGroup.get('login')?.getError('apiError')}}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Senha</mat-label>
    <input matInput type="password" formControlName="senha" />
    <mat-error *ngIf="formGroup.get('senha')?.getError('apiError')">
      {{formGroup.get('senha')?.getError('apiError')}}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Confirmar Senha</mat-label>
    <input matInput type="password" formControlName="confirmSenha" />
  </mat-form-field>
  <button mat-raised-button color="" (click)="update()">Atualizar Dados</button>
</form>