.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.container {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

img {
  max-width: 256px;
  border-radius: 100%;
}

.text {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title > .material-symbols-outlined {
  color: #4361EE;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  align-self: flex-start;
  margin-bottom: 20px;
}

.adresses {
  display: flex;
  width: 100%;
  gap: 10px;
}

.adresses > section {
  background-color: #eee;
  font-style: italic;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}