.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 200px;
  background-color: #4361EE;
  color: #fff;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin-bottom: 20px;
}

.logo {
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;

}

.favorite,
.profile,
.cart {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.profile > img {
  max-width: 40px;
  max-height: 40px;
}

.cart,
.profile,
.favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cart:hover,
.favorite:hover {
  background-color: #5773EF;
}

.loggout-button {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: smaller;
  color: #fff;
  cursor: pointer;
}

.loggout-button>.loggout {
  font-size: large;
}