<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<header class="page-header">
  <img class="logo" src="/assets/GLWare.svg" routerLink="produtos">
  <div class="container">
    <div class="favorite">
      <span class="material-symbols-outlined">favorite</span>
    </div>
    <div routerLink="/carrinho" class="cart">
      <span class="material-symbols-outlined">shopping_cart</span>
    </div>
    <span>Olá, {{usuario?.nome}}!</span>
    <img routerLink="/conta" class="profile" [src]="getImageUrl(usuario?.imageName)">
    <span (click)="logout()" class="loggout-button">
      <span>Sair</span>
      <span class="material-symbols-outlined loggout">logout</span>
    </span>
  </div>
</header>
<router-outlet></router-outlet>