<div class="input-container">
  <div class="input-field">
    <input placeholder="Pesquisar..." [(ngModel)]="filtro" matInput #input>
  </div>
  <button class="search-button" (click)="aplicarFiltro()">
    <mat-icon>search</mat-icon>
  </button>
  <button class="add-button" routerLink="/estados/new">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="estados" class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="id-column">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let estado"> {{estado.id}} </td>
    </ng-container>

    <!-- Nome Column -->
    <ng-container matColumnDef="nome-column">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let estado">
        <a routerLink="/estados/edit/{{estado.id}}"> {{estado.nome}} </a>
      </td>
    </ng-container>

    <!-- Sigla Column -->
    <ng-container matColumnDef="sigla-column">
      <th mat-header-cell *matHeaderCellDef> Sigla </th>
      <td mat-cell *matCellDef="let estado"> {{estado.sigla}} </td>
    </ng-container>

    <ng-container matColumnDef="acoes-column">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let estado" class="flex-td">
        <button mat-icon-button color="primary" routerLink="/estados/edit/{{estado.id}}">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="excluirEstado(estado)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Nenhum dado correspodente à "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[2, 4, 8, 16]" [pageSize]="pageSize" [length]="totalRegistros"
    (page)="paginar($event)">
  </mat-paginator>
</div>