<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
<div class="container">
  <strong class="title">
    <span class="material-symbols-outlined">location_on</span>
    <span>Meus Endereços</span>
  </strong>
  <div class="adress-container">
    <div class="grid-container" *ngFor="let endereco of usuario?.enderecos">
      <div class="content">
        <div class="actions-container">
          <button routerLink="{{usuario.id}}/edit/{{endereco.id}}" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="deleteEndereco(usuario.id, endereco.id)" mat-icon-button color="warn"
            aria-label="Example icon button with a home icon">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <span>{{ endereco.nome }} {{ endereco.sobrenome }}</span>
        <span>{{ endereco.endereco }}, {{ endereco.numero }}</span>
        <span>{{ endereco.bairro }}</span>
        <span>{{ endereco.complemento }}</span>
        <span>{{ endereco.cidade.nome }}, {{ endereco.cidade.estado.sigla }} - {{ endereco.cep }}</span>
        <span>{{ endereco.telefone }}</span>
      </div>
    </div>
    <div routerLink="new" class="add-address-container">
      <button class="add-address-button" mat-icon-button color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>