.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.container {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.profile-container,
.sumary-container {
  background-color: #E9ECEF;
  padding: 20px;
  border-radius: 10px;
}

.profile,
nav,
nav > span,
.title,
.flex-container,
.adress-container,
.adress > div {
  display: flex;
}

.profile {
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

nav {
  flex-direction: column;
  width: 100%;
}

nav > span {
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

nav > span:hover {
  background-color: #DEE2E6;
}

nav > span > .material-symbols-outlined {
  font-size: 16px;
}

img {
  max-width: 200px;
  border-radius: 100%;
}

.text {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

.text:nth-child(2) {
  margin-bottom: 0;
}

.title {
  align-items: center;
  align-self: flex-start;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 20px;
}

.title > .material-symbols-outlined {
  font-size: smaller;
  cursor: pointer;
}

.flex-container {
  align-items: center;
  gap: 10px;
}

.title > .flex-container > .material-symbols-outlined {
  color: #4361EE;
}

.orders {
  margin-top: 20px;
  margin-bottom: 20px;
}

.adress-container {
  gap: 20px;
}

.adress {
  display: flex;
  width: 100%;
  gap: 20px;
}

.adress > div > strong {
  font-weight: 500;
}

.adress > div {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  font-size: 15px;
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
  width: 100%;
}

.orders-table {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead {
  color: #000;
}

th,
td {
  padding: 20px;
  text-align: left;
}

th,
.title {
  font-weight: 500;
}

tbody tr:nth-child(even) {
  background-color: #fff;
}

tbody td {
  font-size: 14px;
}

tbody tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

tbody tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}